
# *****************************************************************************
# WISY
# *****************************************************************************
#
# We route non-exisiting-file requests to index.php which will create the 
# appropriate file or an error message then
# 
# @author Bjoern Petersen
#
# *****************************************************************************

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ /index.php [L,QSA]

AddDefaultCharset utf-8
AddCharset utf-8 .html
AddCharset utf-8 .php

