
# *****************************************************************************
# WISY
# *****************************************************************************
#
# We route non-exisiting-file requests to index.php which will create the 
# appropriate file or an error message then
# 
# @author Bjoern Petersen
#
# *****************************************************************************

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ /index.php [L,QSA]

AddDefaultCharset ISO-8859-15
AddCharset ISO-8859-15 .html
AddCharset ISO-8859-15 .php

