/* Basis-CSS zur responsiven Darstellung eines WISY-Portals */

/* Clearfix und Basics */
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}.clearfix{display:inline-block;}* html .clearfix{height: 1%;}.clearfix{display: block;}

body { padding: 0; margin: 0; }
.acclink { display: none; }

#page { max-width: 1024px; margin: 0 auto; padding: 10px; }

/* Ehemals #themenmenue -> Umbenannt zu .nav_menu */
.nav_menu { 
	background-color: #eee;
	clear: both;
}
#nav-link {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
#nav-link span, #nav-link span:before, #nav-link span:after {
	display: block;
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #000;
}
#nav-link span { 
	top: 30px;
	left: 15px;
	font-size: 0;
	line-height: 0;
	text-indent: -100%;
}
#nav-link span:before { content: ''; margin-top: -5px; }
#nav-link span:after { content: ''; margin-top: 5px; }

#nav-link span, #nav-link span:before, #nav-link span:after {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navshowing #nav-link span {
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.navshowing #nav-link span:before {
	margin-top: 0;
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);		
}
.navshowing #nav-link span:after { display: none; }

#favlistlink { display: inline-block; padding: 2px; }

ul.dropdown {
  z-index: unset;
}
ul.dropdown ul {
  width: 16rem;
}
ul.dropdown ul:not([aria-hidden="true"]) {
  visibility: visible;
}
ul.dropdown ul.hidden {
  visibility: hidden;
}
ul.dropdown ul li.has-subnav:after {
  content: '>';
	position: absolute;
	right: 0.5em;
	top: 0.1em;
}

/* Contentarea */
#wisy_contentarea { padding: 0; }
.wisyr_indent { margin-left: 1em; vertical-align: top; }

.wisy_tagtable .title { float: left; }
.wisy_tagtable .tag_count { float: right; }
.wisy_tagtable .wisyr_tag_name a { display: inline-block; max-width: 70%; }

/* ART Icons */
.wisyr_art_icon,
.wisyr_art .bu,
.wisyr_art_wochenende,
.wisyr_art_details {
	font-size: 12px;
	font-weight: bold;
	margin-right: 4px;
}

/* Suche: Formular */
#wisy_searcharea { position: relative; padding: 15px 0 45px 0; }
#wisy_searcharea .formrow { display: inline; position: relative; }
#wisy_searcharea label { display: none; }
#wisy_searchinput {
	width: 100%;
	max-width: 500px;
	font-size: 15px;
	padding: 5px 15px;
	box-sizing: border-box;
}
#wisy_searchbtn { margin-top: 15px; }
.wisy_searchhints {
	position: absolute;
	bottom: -2rem;
	left: 0;
}

.wisyr_searchinput { position: relative; }
.wisyr_searchinput .clear_btn {
	position: absolute;
	top: 0;
	right: 1.5em;
	width: 1em;
	height: 1em;
	background: #fff url(close-red.png) no-repeat center center/1em;
	cursor: pointer;
}

/* Suche: Autovervollständigung */
.ac_results { border: 1px solid #ccc; }
.ac_results_v2 { z-index: 2222; }
.ac_results_v2 li { padding: 5px 15px; }
.ac_even { background-color: #eee; }
.ac_odd { background-color: #fff; }

/* Erweiterte Suche: Formular */

#adv_all {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
#adv_all fieldset { margin-top: 1em; border: 1px solid #666; }

@media screen and (min-width: 640px) {
	#adv_all fieldset { margin-top: 1.5em; }
	#adv_all .formrow { position: relative; margin-bottom: 0.5em; }
	#adv_all label { position: absolute; width: 30%; }
	#adv_all .formfield { margin-left: 33%; }
}

/* Tabellen */

/* --- Kursliste / Anbieterliste --- */

.wisyr_anbieter_switch,
.wisyr_kurse_switch { margin-left: 20px; }

.wisy_paginate.wisyr_paginate_top { display: none; }
.wisy_paginate .wisy_paginate_seitevon,
.wisyr_listnav { display: none; }

.wisyr_filternav { margin: 10px 0; }
#filterEmbedded {
	width: 100%;
	min-height: 64px;
	background-color: #eee;
	padding: 0 10px 30px 10px;
}
#wisy_filter_all h2 { font-size: 14px; }

.wisyr_list_footer { margin: 10px 0; }
.wisyr_rss_link_wrapper { float: left; }

/* --- Anbieterdetailseite: Kontaktdaten */
.wisyr_anbieteradresse dt {
    float: left;
    clear: left;
	width: 25%;
	font-weight: bold;
}
.wisyr_anbieteradresse dt:after { content: ":"; }
.wisyr_anbieteradresse dd {
	margin: 0 0 1em 25%;
}

@media screen and (max-width: 760px), print {
	
	#page { padding-top: 50px; }
	
	/* Ehemals #themenmenue -> Umbenannt zu .nav_menu */
	.nav_menu { display: none; }
	#nav-link { display: block; }
	
	.navshowing .nav_menu {
		display: block;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 330;
	}
	.nav_menu ul, .nav_menu li { position: relative; float: none; visibility: visible!important; }
	.nav_menu li { padding: 0; border: none; background-color: #eee;}
	.nav_menu a { display: block; padding: 10px; border-bottom: 1px solid #fff; }
	.nav_menu li.dir { background-color: #ddd; }
	.nav_menu ul ul { display: none; }
	.nav_menu ul.dropdown ul { width: 100%; }
	.nav_menu ul.dropdown ul ul { left: 0; }
	
	#favlistlink { width: 100%; }
	
	.wisy_searchhints { display: none; }
	
	/* Tabellenkopf zugänglich ausblenden */
	table.wisy_list thead tr { position: absolute; top: -9999px; left: -9999px; }
	
	/* Filter */
	#filterEmbedded { box-sizing: border-box; }
	#wisy_filter_all .formrow { width: 100%!important; padding: 0; }
	#wisy_filter_all select { width: 100%; box-sizing: border-box; }
	#wisy_filter_all #filter { display: block; width: 100%; margin-bottom: 15px; }
	#wisy_filter_all #filter_buttons { text-align: center; }

	/* --- Kursliste / Anbieterliste auf schmalen Bildschirmen linearisieren a la Mobilmodul ---------------- */
	
	.wisyr_anbieter_switch,
	.wisyr_kurse_switch { display: none; }
	.wisyr_listnav { display: block; }
	.wisyq_fav .wisyr_listnav { display: none; }
	.wisyr_listnav a, .wisyr_listnav span {
		display: inline-block;
		width: 33%;
		max-width: 100%;
		text-align: center;
		border: none;
		padding: 15px 0 10px 0;
		cursor: pointer;
	}
	.wisyr_listnav .active { border-bottom: 2px solid #000; }
		
	/* Tabellenelemente umwandeln in Blockelemente */
	table.wisyr_kursliste, table.wisyr_kursliste thead, table.wisyr_kursliste tbody, table.wisyr_kursliste tr,
	table.wisyr_anbieterliste, table.wisyr_anbieterliste thead, table.wisyr_anbieterliste tbody, table.wisyr_anbieterliste tr,
	table.wisy_tagtable, table.wisy_tagtable thead, table.wisy_tagtable tbody, table.wisy_tagtable tr {
		display: block;
	}
	
	/* Tabellenelemente umwandeln in Inlineelemente */
	table.wisyr_kursliste th, table.wisyr_kursliste td,
	table.wisyr_anbieterliste th, table.wisyr_anbieterliste td,
	table.wisy_tagtable th, table.wisy_tagtable td {
		display: inline;
		padding: 0;
		margin: 0;
		border: none;
	}
	
	/* Umgeformte Tabelle gestalten */
	table.wisyr_kursliste tr,
	table.wisyr_anbieterliste tr,
	table.wisy_tagtable tr {
		padding: 0.5em;
		border-bottom: 1px solid #eee;
	}
	
	table.wisyr_kursliste .wisyr_angebot, table.wisyr_kursliste .wisyr_anbieter,
	table.wisyr_anbieterliste .wisyr_angebot, table.wisyr_anbieterliste .wisyr_anbieter {
		display: block; width: 100%;
	}
	
	table.wisy_tagtable .wisyr_indent { margin: 0; }
	table.wisy_tagtable .ac_indent { padding-left: 2em; }
	table.wisy_tagtable .wisyr_tag_name a { display: inline; }
	table.wisy_tagtable .wisyr_tag_name a:after,
	table.wisy_tagtable .wisyr_tag_type:after { content:"\A"; white-space: pre; }
	table.wisy_tagtable .tag_count { float: none; }
	table.wisy_tagtable .wisyr_tag_type, table.wisy_tagtable .wisyr_tag_groups, table.wisy_tagtable .wisyr_tag_info {
		margin-left: 0.3em;
	}
	
	table.wisyr_kursliste .wisyr_art,
	table.wisyr_kursliste .wisyr_anbieter_telefon,
	table.wisyr_kursliste .wisyr_anbieter_profil,
	table.wisyr_kursliste .wisyr_termin_weitere span,
	table.wisyr_anbieterliste .wisyr_homepage,
	table.wisyr_anbieterliste .wisyr_telefon,
	table.wisyr_anbieterliste .wisyr_email { 
		display: none;
	}
	
	table.wisyr_kursliste .wisyr_termin_weitere a:before {
		content: '+';
	}
	
	/* Paginierung */
	.wisyr_rss_link_wrapper { display: none; }
	.wisyr_angebote_suchauftrag { display: none; }
	.wisy_paginate.wisyr_paginate_top { display: none; }
	.wisy_paginate.wisyr_paginate_bottom {
		display: block;
		float: none;
		position: relative;
		text-align: center;
		padding: 15px;
		background-color: #eee;
	}
	.wisy_paginate .wisy_paginate_seitevon { display: inline; }
	.wisy_paginate_text, .wisy_paginate_pagelink { display: none; }
	.wisy_paginate_next, .wisy_paginate_prev { position: absolute; top: 10px; right: 5px; }
	.wisy_paginate_prev { right: auto; left: 5px; }
	
	.wisy_paginate a { padding: 5px; }
	.wisy_paginate .wisy_paginate_next, .wisy_paginate .wisy_paginate_prev { display: inline-block; }

	/* --- Kleinere Tabellen auf schmalen Bildschirmen umformen a la http://elvery.net/demo/responsive-tables/#no-more-tables -------- */
	
	/* Tabellenelemente umwandeln in Blockelemente */
	table.wisyr_durchfuehrungen,
	table.wisyr_durchfuehrungen thead,
	table.wisyr_durchfuehrungen tbody,
	table.wisyr_durchfuehrungen th,
	table.wisyr_durchfuehrungen td,
	table.wisyr_durchfuehrungen tr {
		display: block;
		border: none;
	}

	/* Umgeformte Tabelle gestalten */
	table.wisyr_durchfuehrungen tr {
		background-color: #eee;
		margin-bottom: 1em;
	}

	table.wisyr_durchfuehrungen td {
		position: relative;
		width: auto;
		min-height: 1.5em;
		padding: 0.5em 0.5em 0.5em 48%;
		border-bottom: 1px solid #fff;
	}

	table.wisyr_durchfuehrungen td:before {
		position: absolute;
		left: 0.5em;
		width: 45%;
		font-weight: bold;
		white-space: nowrap;
		padding-right: 1em;
	}

	/* Tabellenbeschriftung aus data-title Attribut */
	table.wisyr_durchfuehrungen td:before { content: attr(data-title); }
	
	/* Suche: Autovervollständigung */
	.ac_results_v2 {
		max-height: none;
		width: 100%!important;		
		left: 0!important;
		padding: 0 10px;
		box-sizing: border-box;
		border: none;
		background-color: transparent;
	}
}

/* ---Filter Neue Suche --- */
#wisy_filterlink {
	display: none;
}
.wisyr_filterform {
	margin-top: 30px;
}
.wisyr_filterform h3,
.wisyr_filterform h4 {
	display: inline-block;
	margin: 0;
}
.wisyr_filterform h3,
.wisy_suggestions h3 { color: #798D94; margin-right: 1em; }
.wisyr_filterform h4 { font-weight: 300; }
#wisyr_filterform_close { display: none; }

.wisyr_filterform form {
	margin-top: 0.5em;
}

.wisyr_filterform input[type="text"] {
	width: 75%;
	padding: 7px 5px;
	border: 0;
	border-radius: 2px;
}

.wisyr_filterform_reset { display: none; }

/* Legend und Fieldset Reset */
.wisyr_filterform legend { padding: 0; display: table; }
.wisyr_filterform fieldset { border: 0; padding: 0.01em 0 0 0; margin: 0; min-width: 0; }
body:not(:-moz-handler-blocked) .wisyr_filterform fieldset { display: table-cell;}

.wisyr_filterform form > fieldset {
	position: relative;
	display: inline-block;
	width: 7rem;
	height: 1.75rem;
	border: 0;
	border-radius: 2px;
	background: #EEE;
	margin-right: 0.3em;
	cursor: pointer;
}
.wisyr_filterform form > fieldset > legend {
	position: absolute;
	left: 0.5em;
	top: 0.3em;
}
.wisyr_filterform form > fieldset:hover > legend,
.wisyr_filterform form > fieldset.active > legend,
.wisyr_filterform form > fieldset:focus > legend,
.wisyr_filterform form > fieldset:focus-within > legend {
	color: #333;
}
.wisyr_filterform form > fieldset:after {
	content: 'v';
	position: absolute;
	right: 0.5em;
	top: 0.3em;
}

.wisyr_filterform form > fieldset.filter_weiterekriterien { width: 9rem; }
.wisyr_filterform form > fieldset.filter_weiterekriterien:after { content: '+'; font-family: 'Roboto', sans-serif; }

.wisyr_filterform form > fieldset.filter_weiterekriterien .filter_inner {
	padding-right: 10px;
}
.wisyr_filterform form > fieldset.filter_weiterekriterien fieldset {
	margin-bottom: 1em;
}
.wisyr_filterform form > fieldset.filter_weiterekriterien legend {
	margin-bottom: 0.5em;
}
.wisyr_filterform form > fieldset.filter_weiterekriterien .ui-selectmenu-button {
	width: 100%;
	background: #fff;
}
.wisyr_filterform form > fieldset.filter_weiterekriterien .filter_filtersection_submit { display: none; }

.wisyr_filterform form > fieldset.filter_sortierung { 
	float: right;
	width: 170px;
	text-align: right;
	margin-right: 0;
	padding: 0;
	background: transparent;
}
.wisyr_filterform form > fieldset.filter_sortierung legend { display: none; }
.wisyr_filterform .ui-selectmenu-button {
	width: 170px;
	box-sizing: border-box;
	border: 0;
	border-radius: 2px;
	background: #EEE;
	padding-left: 7px;
}
.wisyr_filterform .ui-selectmenu-button .ui-icon {
	display: none;
	background-image: none;
}
.wisyr_filterform .ui-selectmenu-button .ui-selectmenu-text { color: #606060; margin-right: 0; }
.wisyr_filterform .ui-selectmenu-button .ui-selectmenu-text:hover { color: #333; }
.wisyr_filterform .ui-selectmenu-button:after {
	content: 'v';
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}
.wisyr_filterform .ui-selectmenu-menu { text-align: left; }
.wisyr_filterform .ui-selectmenu-menu .ui-menu-item { background-color: #eee; border: 0; }
.wisyr_filterform .ui-selectmenu-menu .ui-menu-item-wrapper { padding: 7px; }
.wisyr_filterform .ui-selectmenu-menu .ui-state-active { border: 0; }

.wisyr_filterform .ui-selectmenu-menu .ui-widget.ui-widget-content {
	margin-top: 4px;
	border: 0;
	border-radius: 2px;
	box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.4);
}

.Zebra_DatePicker { margin-left: -100px; }
.Zebra_DatePicker .dp_daypicker.dp_body th {
	color: #fff;
	background: #3E7AB8;
}
.Zebra_DatePicker .dp_daypicker.dp_body .dp_current {
	color: #3E7AB8;
}

.wisyr_filterform form > fieldset.filter_sortierung:after {
	display: none;
	content: '';
}

.wisyr_filterform .filter_inner {
	display: none;
	position: absolute;
	top: 32px;
	left: 0;
	border-radius: 2px;
	background: #EEE;
	box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.4);
	padding: 10px 20px 20px 10px;
	z-index: 11;
}
.wisyr_filterform fieldset.active .filter_inner,
.wisyr_filterform fieldset:focus .filter_inner,
.wisyr_filterform fieldset:focus-within .filter_inner { display: block; cursor: default; }
.wisyr_filterform .filter_inner legend {
	color: #798D94;
	font-weight: 700;
	margin-bottom: 1em;
}

.wisyr_radiowrapper { display: block; white-space: nowrap; }

.wisyr_filterform form > fieldset select {
	line-height: 1.5;
	background-color: #fff;
}
.wisyr_filterform form > fieldset select option:hover {
	background-color: #798D94;
}

.wisyr_filterform form input:disabled + label { color: #999; }
.wisyr_filterform form input:disabled + label:hover { text-decoration: none; cursor: default; }

.wisyr_filterform .filter_submit {
	height: 40px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	border-radius: 2px;
	padding: 7px 15px;
	margin: 20px 0 10px 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-appearance: none;
	background-color: #3E7AB8;
	cursor: pointer;
}

.wisyr_filterform .filter_zweispaltig .filter_inner,
.wisyr_filterform .filter_breit .filter_inner { width: 21rem; }
.filter_spalte1,
.filter_spalte2 { float: left; width: 50%; }


.wisyr_filterform form > fieldset.filter_weiterekriterien .filter_schmal .ui-selectmenu-button {
	float: right;
	width: 49%;
}
.wisyr_filterform form > fieldset.filter_weiterekriterien .filter_schmal .ui-selectmenu-button:first-of-type {
	float: left;
}
.wisyr_filterform form > fieldset.filter_weiterekriterien .ui-selectmenu-menu .ui-state-disabled { display: none; }


/* Kursthemen und andere Linklisten */
.wisyr_filterlinklist .filter_inner {
	padding: 0;
}
.wisyr_filterlinklist ul {
	width: 310px;
	max-height: 50vh;
	overflow-y: scroll;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}
.wisyr_filterlinklist li {
	margin-bottom: 0.5em;
}
.wisyr_filterlinklist input { display: none; }

.wisyr_filterlinklist .wisyr_filter_selected { color: #606060; }

.wisyr_filtergroup.filter_sortierung .filter_inner {
	width: 180px;
	left: auto;
	right: 0;
}

.wisyr_filtergroup .wisyr_datepicker {
	padding-right: 20px;
	background: #fff url(calendar.png) no-repeat 95% center/auto 60%;
}

/* Clear button */
.wisyr_filtergroup .filter_clearbutton_wrapper { position: relative; }
.wisyr_filtergroup .filter_clearbutton_wrapper input[type="text"] { width: 100%;}
.wisyr_filtergroup .filter_clearbutton_wrapper .clear_btn {
	position: absolute;
	top: 3px;
	right: -6px;
	width: 25px;
	height: 21px;
	background: #fff url(close-red.png) no-repeat 45% center/10px;
	cursor: pointer;
}

/* Preis und andere Radiolisten */
.wisyr_filterradiolist input {
}
.wisyr_filterradiolist label {
	display: inline-block;
	color: #3E7AB8;
	margin-bottom: 0.3em;
}
.wisyr_filterradiolist label:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Anbieter und andere Radiolinklisten */

.wisyr_filterradiolinklist .filter_inner {
	width: 26rem;
	max-height: 50vh;
	overflow-y: scroll;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}
.wisyr_filterradiolinklist .wisyr_radiowrapper {
	margin-bottom: 0.5em;
}
.wisyr_filterradiolinklist .wisyr_radiowrapper input {
	display: none;
}
.wisyr_filterradiolinklist label {
	display: inline;
	color: #3E7AB8;
}
.wisyr_filterradiolinklist label:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Aktive Filter */
.wisyr_activefilters {
	position: absolute;
	top: 4.5rem;
	left: 0;
	list-style-type: none;
	padding: 0;
	margin: 0 0 0.3em 0;
}
.wisyr_activefilters .wisyr_filter {
	position: relative;
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.3em;
}
.wisyr_activefilters .wisyr_filter a {
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
	background-color: #3E7AB8;
	border-radius: 2px;
	padding: 0.5em 1.5em 0.5em 0.5em;
	
	display: block;
	max-width: 9rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wisyr_activefilters .wisyr_filter a:hover {
	text-decoration: none;
}
.wisyr_activefilters .wisyr_filter a:after {
	content: 'x';
	display: block;
	position: absolute;
	line-height: 14px;
	right: 0.2em;
	top: 0.5em;
}

/* Nichts gefunden / leergefiltert Seite */
.wisy_suggestions .wisyr_filterform_header { display: none; }

@media screen and (min-width: 761px) {
	.wisyr_filterform .ui-selectmenu-menu .ui-widget.ui-widget-content {
		max-width: 26rem;
	}
}
@media screen and (max-width: 840px) {
	.wisyr_filterform form > fieldset.filter_sortierung {
		display: block;
		float: none;
	}
}
@media screen and (max-width: 760px), print {
	#wisy_filterlink {
		display: block;
		width: 20px;
		height: 20px;
		font-size: 0;
		text-indent: -200%;
		padding: 15px;
		margin: 0;
		background-color: transparent;
		overflow: hidden;
		background: url(filter_grau.png) no-repeat center center/24px;
	}
	.wisyr_filternav.wisyr_filters_active #wisy_filterlink {
		background: url(filter_grau_filtered.png) no-repeat center center/24px;
	}
	.wisyr_activefilters {
		display: none;
	}
	#wisyr_filterform {
		display: none;
	}
	body.wisyr_filterform_active { padding-top: 0; overflow: hidden; }
	body.wisyr_filterform_active #mainheader,
	body.wisyr_filterform_active #wisy_searcharea { display: none; }
	
	body.wisyr_filterform_active #wisyr_filterform {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		background: #eee;
		z-index: 1;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	body.wisyr_filterform_active #wisyr_filterform.subActive { overflow: hidden; }
	.wisyr_filterform_header {
		display: block;
		position: fixed;
		width: 100%;
		height: 48px;
		line-height: 48px;
		background-color: #3E7AB8;
		padding: 0 15px;
		margin: 0;
		z-index: 11;
		box-sizing: border-box;
	}
	.wisyr_filterform_header:after {
		display: block;
		content: 'x';
		position: absolute;
		right: 0.7em;
		top: 0;
		color: #fff;
		font-size: 24px;
		padding: 0 0.5em;
		cursor: pointer;
	}
	.wisyr_filterform_header h3 {
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
	}
	.wisyr_filterform_header h4 { display: none; }
	
	.wisyr_filterform form { height: auto; margin-top: 98px; }
	
	.wisyr_filterform form .ui-front { z-index: 1; }
	
	.wisyr_filterform form .filter_submit { width: 100%; }
	
	.wisyr_filterform input[type="text"] {
		height: 40px;
		font-size: 14px;
		padding: 5px 15px;
		margin-right: 5px;
		box-sizing: border-box;
	}
	
	.wisyr_filterform form > fieldset {
		display: block;
		width: 100%;
		height: 38px;
		padding: 5px 0;
		border-radius: 0;
		border-bottom: 1px solid #ddd;
	}
	.wisyr_filterform form fieldset legend,
	.wisyr_filterform form fieldset .filter_inner legend {
		left: 15px;
		font-size: 16px;
		font-weight: 500;
		line-height: 42px;
		color: #3E7AB8;
	}
	.wisyr_filterform form fieldset:not(.active) legend:not([data-filtervalue='']) {
		line-height: 24px;
	}
	.wisyr_filterform form fieldset legend:after,
	.wisyr_filterform form fieldset .filter_inner legend:after,
	.wisyr_filterform form > fieldset.filter_sortierung > legend:after {
		content: attr(data-filtervalue);
		display: block;
		font-size: 14px;
		line-height: 12px;
		color: #606060;
	}
	
	.wisyr_filterform form > fieldset.filter_sortierung {
		position: absolute;
		top:48px;
		width: 100%;
		height: 38px;
		text-align: left; 
		padding: 5px 0;
	}
	.wisyr_filterform form > fieldset.filter_sortierung > * { display: none; }
	.wisyr_filterform form > fieldset.filter_sortierung.active > .ui-selectmenu-menu { display: block; }
	.wisyr_filterform form > fieldset.filter_sortierung > legend { display: block; }
	
	.wisyr_filterform .ui-selectmenu-button { width: 100%; }
	
	.wisyr_filterform form > fieldset.filter_weiterekriterien { width: 100%; z-index: 1112!important; }
	.wisyr_filterform form > fieldset.filter_weiterekriterien:after { display: none; }
	.wisyr_filterform form > fieldset.filter_weiterekriterien fieldset { 
		position: relative;
		height: 38px;
		margin: 0;
		padding: 5px 0;
	    border-bottom: 1px solid #ddd;
	}
	.wisyr_filterform form > fieldset:after,
	.wisyr_filterform form > fieldset.filter_sortierung:after,
	.wisyr_filterform form > fieldset.filter_weiterekriterien fieldset:after {
		content: '>';
		display: block;
		position: absolute;
		color: #3E7AB8;
		font-size: 24px;
		line-height: 48px;
		right: 0.5em;
		top: 0;
	}
	.wisyr_filterform form > fieldset.filter_weiterekriterien > legend { display: none; }
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner { 
		display: block; 
		top: 0;
		width: 100%;
		padding: 0;
		box-shadow: none;
	}
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner > .filter_submit { display: none; }
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner > .no_autosubmit_mobile.active + .filter_filtersection_submit { 
		display: block;
		position: absolute;
		z-index: 1114!important;
	    margin: 0 15px;
	    width: calc(100% - 30px);
	}
	
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner > fieldset > * { display: none; }
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner > fieldset > legend {
		display: block;
		position: absolute;
		top: 0.3em;
		font-weight: 500;
		line-height: 42px;
	}
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner > fieldset:not(.active) > legend:not([data-filtervalue='']) {
		line-height: 24px;
	}
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner > fieldset.active > legend {
		height: 48px;
		line-height: 48px;
	}
	
	.wisyr_filterform fieldset.active {
		position: fixed!important;
		width: 100%;
		height: auto!important;
		top: 0!important;
		bottom: 0;
		box-shadow: none;
		padding: 0;
		margin: 0!important;
		z-index: 1114!important;
		background: #eee!important;
	}
	.wisyr_filterform fieldset.active:after { display: none!important; }
	.wisyr_filterform fieldset.active > legend:after {
		display: block;
		content: 'x'!important;
		position: absolute;
		right: 0;
		top: 0;
		color: #fff!important;
		font-size: 24px!important;
		line-height: 48px!important;
		padding: 0 0.5em;
		cursor: pointer;
	}
	.wisyr_filterform fieldset.active > legend {
		left: 0!important;
		top: 0!important;
		width: 100%;
		height: 48px;
		line-height: 48px;
		color: #fff!important;
		font-size: 14px!important;
		font-weight: 500;
		line-height: 48px;
		text-transform: uppercase;
		background: #3E7AB8;
	    padding: 0 15px;
	    box-sizing: border-box;
		z-index: 1111;
	}
	
	.wisyr_filterform fieldset.active > .filter_inner {
		top: 50px;
		bottom: 0;
		width: 100%;
		box-shadow: none;
		box-sizing: border-box;
		overflow-y: auto;
		padding: 15px;
		-webkit-overflow-scrolling: touch;
	}
	.wisyr_filterform fieldset.active > .filter_inner > .filter_spalte1, 
	.wisyr_filterform fieldset.active > .filter_inner > .filter_spalte2 {
		float: none;
		width: 100%;
		margin-bottom: 15px;
	}
	
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner > fieldset.active { padding-top: 50px; }
	.wisyr_filterform form > fieldset.filter_weiterekriterien > .filter_inner > fieldset.active > * { display: block;  }
	
	.wisyr_filterform form > fieldset.filter_sortierung .ui-selectmenu-button,
	.wisyr_filterform form > fieldset.filter_weiterekriterien .ui-selectmenu-button {
		display: block;
		opacity: 0;
		height: 50px;
		margin-top: -50px;
		z-index: -1;
	}
	.wisyr_filterform form > fieldset.filter_sortierung .ui-selectmenu-button { margin-top: 0; }
	.wisyr_filterform form > fieldset.filter_weiterekriterien .ui-selectmenu-button { margin-top: -50px; }
	.wisyr_filterform form .ui-selectmenu-menu .ui-widget.ui-widget-content { box-shadow: none; padding: 0; margin: 0; }
	.wisyr_filterform form .ui-selectmenu-menu .ui-menu-item-wrapper { color: #3E7AB8; }
	.wisyr_filterform form .ui-selectmenu-menu .ui-menu-item-wrapper.ui-state-active,
	.wisyr_filterform form .ui-selectmenu-menu .ui-menu-item.wisyr_selectedmobile .ui-menu-item-wrapper {
		background: none;
		text-decoration: underline;
		background-color: #D2DFEE;
	}
	.wisyr_filterform form fieldset.active .ui-selectmenu-menu {
		bottom: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	.wisyr_filterform form fieldset.active .ui-selectmenu-menu li { padding: 0 8px; }
	
	.wisyr_filterlinklist ul {
		width: auto;
		max-height: none;
		padding-left: 0;
		overflow-y: auto;
	}
	.wisyr_filterlinklist li {
		margin-bottom: 1em;
	}
	
	.wisyr_filterradiolinklist .filter_inner {
		max-height: none;
	}
	
	.wisyr_filterform_reset { 
		display: block;
		line-height: 48px;
		padding: 5px 15px;
	}
	
	.filter_ortundumkreis_ort .clear_btn {
		right: 6px;
		height: 34px;
	}
}