<fieldset id="filter-coursemode" class="filter-choice">
    <legend>{{ lang.courseliststep:filtercoursemodetask }}</legend>
    <div>
        <input type="checkbox" id="filter-coursemode-all" name="filter-coursemode" value="" checked>
        <label for="filter-coursemode-all">{{ lang.courseliststep:filtercoursemodeall }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-coursemode-blendedlearning" name="filter-coursemode" value="{{ lang.courseliststep:filtercoursemodeblendedlearning }}">
        <label for="filter-coursemode-blendedlearning">{{ lang.courseliststep:filtercoursemodeblendedlearning }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-coursemode-fernstudium" name="filter-coursemode" value="{{ lang.courseliststep:filtercoursemodefernstudium }}">
        <label for="filter-coursemode-fernstudium">{{ lang.courseliststep:filtercoursemodefernstudium }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-coursemode-fernunterricht" name="filter-coursemode" value="{{ lang.courseliststep:filtercoursemodefernunterricht }}">
        <label for="filter-coursemode-fernunterricht">{{ lang.courseliststep:filtercoursemodefernunterricht }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-coursemode-präsenzunterricht" name="filter-coursemode" value="{{ lang.courseliststep:filtercoursemodepräsenzunterricht }}">
        <label for="filter-coursemode-präsenzunterricht">{{ lang.courseliststep:filtercoursemodepräsenzunterricht }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-coursemode-sprachreisen" name="filter-coursemode" value="{{ lang.courseliststep:filtercoursemodesprachreisen }}">
        <label for="filter-coursemode-sprachreisen">{{ lang.courseliststep:filtercoursemodesprachreisen }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-coursemode-webseminar" name="filter-coursemode" value="{{ lang.courseliststep:filtercoursemodewebseminar }}">
        <label for="filter-coursemode-webseminar">{{ lang.courseliststep:filtercoursemodewebseminar }}</label>
    </div>
</fieldset>