<div class="heading">
    <h2>{{ lang.courseliststep:heading }}</h2>
    <button class="labeled-icon-btn filter-btn btn-secondary"><i class="icon filter-icon"></i>{{lang.courseliststep:filter}}<span class="filter-bubble display-none"></span></button>
</div>
<ul class="result-list"></ul>
{{ >filtermenu }}