<fieldset id="filter-funding" class="filter-choice">
    <legend>{{ lang.courseliststep:filterfundingtask }}</legend>
    <div>
        <input type="checkbox" id="filter-funding-none" name="filter-funding" value="" checked>
        <label for="filter-funding-none">{{ lang.courseliststep:filterfundingnone }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-funding-aktivierungsgutschein" name="filter-funding" value="Aktivierungsgutschein">
        <label for="filter-funding-aktivierungsgutschein">{{ lang.courseliststep:filterfundingaktivierungsgutschein }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-funding-bafoegaufstieg" name="filter-funding" value="BAföG (Aufstieg)">
        <label for="filter-funding-bafoegaufstieg">{{ lang.courseliststep:filterfundingbafoegaufstieg }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-funding-bafoegstudium" name="filter-funding" value="BAföG (Studium)">
        <label for="filter-funding-bafoegstudium">{{ lang.courseliststep:filterfundingbafoegstudium }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-funding-bildungsgutschein" name="filter-funding" value="Bildungsgutschein">
        <label for="filter-funding-bildungsgutschein">{{ lang.courseliststep:filterfundingbildungsgutschein }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-funding-bildungsurlaub" name="filter-funding" value="Bildungsurlaub">
        <label for="filter-funding-bildungsurlaub">{{ lang.courseliststep:filterfundingbildungsurlaub }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-funding-rehabilitation" name="filter-funding" value="Rehabilitation">
        <label for="filter-funding-rehabilitation">{{ lang.courseliststep:filterfundingrehabilitation }}</label>
    </div>
</fieldset>