<div class="mainarea">
<p>{{ lang.levelcurrentstep:subheading }}</p>
<span class="helpline"><a href="#" onclick="document.getElementById('Modal_help').style.display='block';" title="Hilfe" class="open-help-modal-btn"><img src="/files/hessen/scout/help.png"> <span class="helptext">Kompetenzniveaus kurz erkl&auml;rt</span></a></span>



<ul class="level-current-selection"></ul>
</div>

<section class="myhelpmodal">
       <div class="myhelp-modal fade" style="display:none;"  id="Modal_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal__backdrop"></div>
         <div class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">

            <div class="modal-content">
             <div class="modal-header">
               <button onclick="document.getElementById('Modal_help').style.display='none';" id="help-abort" href="#"><span class="icon-menuclose"></span></button>
               <h5 class="modal-title">Erkl&auml;rungen</h5>
             </div>
             <div class="modal-body">
<b>Du kannst Deinen Beruf nicht finden?</b><br>
<br>
Dein Beruf oder deine Tätigkeit ist nicht dabei? Dann versuche eine übergeordnete oder verwandte Berufsbezeichnung zu finden. Alternativ kannst du die <strong>Suche anhand von Kompetenzen</strong> nutzen.
             </div>
            </div>
          </div>
        </div>
        </div>
</section>