<h2>{{ lang.occupationstep:heading }}</h2>
<section class="autocomplete-box">
    <div class="autocomplete-box__input">
        <i class="icon search-icon"></i>
        <input type="text" placeholder="{{ lang.occupationstep:inputplaceholder }}" name="esco-occupation-select"
            id="esco-occupation-select" class="scout-autocomplete" esco-type="occupation" max="50" onlyrelevant="False"
            autocomplete="off">
        <button class="clear-input" title="{{ lang.clearinput }}"><i class="icon close-icon"></i></button>
    </div>
    <output name="esco-occupation-autocomplete" for="esco-occupation-select"></output>
</section>