<p>Du hast folgendes gewählt</p>
<div class="selected-occupation"></div>
<p>Ich habe Kurse zu folgenden passenden Kompetenzen gefunden. Wähle aus, welche Du erlangen oder weiterentwickeln möchtest. Beachte: Im nächsten Schritt kannst Du weitere Kompetenzen frei wählen. Wähle insgesamt max. <span class="maxSkills"></span>.</p>
<ul class="selectable-skills"></ul>
<button class="btn-link more-skills-btn"><span>weitere Kompetenzen anzeigen</span></button>
<button class="btn-link less-skills-btn"><span>weniger Kompetenzen anzeigen</span></button>