<p>{{ lang.pathstep:heading }}</p>
<p>{{ lang.pathstep:subheading }}</p>
<div class="path-button-list">
    {{ #paths }}
    <button type="button" pathname="{{ name }}">{{ label }}</button>
    {{ /paths }}
</div>