<h2>{{ lang.pathchoicestep:heading }}</h2>
<div class="button-list">
    {{ #paths }}
    <button type="button" pathname="{{ name }}">{{ label }}</button>
    {{ /paths }}
</div>
<article class="footer-scout-logo">
    <img src="/files/wisyki/bfbf.svg">
    <img src="/files/wisyki/bibb.svg">
</article>