<h2>{{ lang.pathchoicestep:heading }}</h2>
<div class="button-list">
    {{ #paths }}
    <button type="button" pathname="{{ name }}" class="btn-primary">{{ label }}</button>
    {{ /paths }}
</div>