<header>
    <h1>Scout</h1>
    <section class="scout-nav hide-future-steps">
        <span>{{ lang.path:stepnavlabel }}</span>
        <div class="scout-nav__progress">
            <ul>
                {{ #steps }}
                <li><button to-step="{{ index }}">{{ nav_label }}</button></li>
                {{ /steps }}
            </ul>
        </div>
        <button class="btn-link" id="scout-abort"><span>{{ lang.path:cancel }}</span></button>
    </section>
</header>
<section class="steps">
    <div>
        {{ #steps }}
        <div class="step-container">
            <div class="loader"></div>
            <article class="step" id="{{ name }}"></article>
        </div>
        {{ /steps }}
    </div>
</section>