<fieldset id="filter-price" class="filter-choice">
    <legend>{{ lang.courseliststep:filterpricetask }}</legend>
    <div>
        <input type="radio" id="filter-price-none" name="filter-price" value="" checked>
        <label for="filter-price-none">{{ lang.courseliststep:filterpricenone }}</label>
    </div>
    <div>
        <input type="radio" id="filter-price-100" name="filter-price" value="100">
        <label for="filter-price-100">{{ lang.courseliststep:filterprice100 }}</label>
    </div>
    <div>
        <input type="radio" id="filter-price-300" name="filter-price" value="300">
        <label for="filter-price-300">{{ lang.courseliststep:filterprice300 }}</label>
    </div>
    <div>
        <input type="radio" id="filter-price-1000" name="filter-price" value="1000">
        <label for="filter-price-1000">{{ lang.courseliststep:filterprice1000 }}</label>
    </div>
</fieldset>