<h2>{{ lang.skillstep:heading }}</h2>
<p class="skill-counter"></p>
<div class="autocomplete-box">
    <div class="autocomplete-box__input">
        <i class="icon search-icon"></i>
        <input type="text" placeholder="{{ lang.skillstep:inputplaceholder }}" name="esco-skill-select" id="esco-skill-select" class="esco-autocomplete" esco-scheme="member-skills,skills-hierarchy,sachstichwort" onlyrelevant=True>
        <button class="clear-input" title="{{ lang.clearinput }}"><i class="icon close-icon"></i></button>
    </div>
    <output name="esco-skill-select" for="esco-skill-select"></output>
</div>
<ul class="selectable-skills"></ul>