<fieldset id="filter-timeofday" class="filter-choice">
    <legend>{{ lang.courseliststep:filtertimeofdaytask }}</legend>
    <div>
        <input type="checkbox" id="filter-timeofday-none" name="filter-timeofday" value="" checked>
        <label for="filter-timeofday-none">{{ lang.courseliststep:filtertimeofdaynone }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-timeofday-fullday" name="filter-timeofday" value="Ganztags">
        <label for="filter-timeofday-fullday">{{ lang.courseliststep:filtertimeofdayfullday }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-timeofday-morning" name="filter-timeofday" value="Vormittags">
        <label for="filter-timeofday-morning">{{ lang.courseliststep:filtertimeofdaymorning }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-timeofday-afternoon" name="filter-timeofday" value="Nachmittags">
        <label for="filter-timeofday-afternoon">{{ lang.courseliststep:filtertimeofdayafternoon }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-timeofday-evening" name="filter-timeofday" value="Abends">
        <label for="filter-timeofday-evening">{{ lang.courseliststep:filtertimeofdayevening }}</label>
    </div>
    <div>
        <input type="checkbox" id="filter-timeofday-weekend" name="filter-timeofday" value="Wochenende">
        <label for="filter-timeofday-weekend">{{ lang.courseliststep:filtertimeofdayweekend }}</label>
    </div>
</fieldset>